body{
    font: 12px/1.6 Arial, Verdana, Tahoma, sans-serif;
    color: #5d5d5d;
    background: #f4f4f4;
}

a{
    color: #E62E6B;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.active, a:hover{
    color:#090909;
}

p{
    margin: 8px 0;
}

h2, h3{
    font-weight: bold;
    color: #090909;
    text-transform: uppercase;
}

h2{
    font-size: 18px;
    background: url(../images/arrow.png) no-repeat 0 9px;
    margin-bottom: 18px;
}

h3{
    font-size: 12px;
    margin-bottom: 20px;
}

#top-line {
    background-color: #090909;
    height: 16px;
}

#wrapper{
    width: 960px;
    margin: 0 auto;
}

#header{
    padding: 20px 0px 16px 0px;
    border-bottom: 1px solid #C0C0C0;
    overflow: hidden;
}

#logo{
    float:left;
}

#logo-image{
    width: 163px;
    height: 100px;
}

#menu ul li{
    list-style-type: none;
    float: left;
    margin-left: 63px;
}

#menu{
    float: right;
    margin-top: 40px;
}

#header-image{
    margin-top: 20px;
    border-bottom: 1px solid #C0C0C0;
    padding-bottom: 20px;
    position: relative;
}

#central-image{
    display: block;
    margin: 0 auto;
}

#content{
    border-bottom: 1px solid #C0C0C0;
    overflow: hidden;
    padding-bottom: 15px;
}

.content-box{
    width: 285px;
    float: left;
    margin-right: 52px;
}

.content-box h2{
    border-bottom: 5px solid #090909;
    margin-bottom: 0px;
    padding-bottom: 2px;
}

.content-box ul{
    padding-left: 0px;
}

.content-box ul li{
    list-style-type: none;
    background: url(../images/check.png) 0 2px no-repeat;
    padding-left: 28px;
    margin-bottom: 12px;
    line-height: 1.3;
}

#content-box-3, #news-image-4{
    margin-right: 0px;
}

.arrow-image{
    width: 13px;
    margin-right: 5px;
}

.italic-text{
    font-style: italic;
    color: #090909;
    margin-top: 20px;
}

#news{
    margin-top: 20px;
    padding-bottom: 33px;
    border-bottom:1px solid #C0C0C0;
    overflow: hidden;
}

.news-image{
    width: 215px;
    height: 135px;
    float: left;
    margin-right: 33px;
    position: relative;
}

.news-image a{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #090909;
    display: block;
    background-color: #E62E6B;
    padding: 4px 10px;
    line-height: 1;
}

.news-image a:hover{
    color: #f4f4f4ce;
}

#bottom-row{
    margin-top: 20px;
    overflow: hidden;
}

#blog{
    width: 670px;
    float: left;
}

#social{
    width: 220px;
    float: right;
}

#social ul{
    padding-left: 0px;
}
#social ul li{
    list-style-type: none;
    float: left;
    margin-right: 12px;
}

#footer{
    background: #e2e2e2;
    padding: 32px 0 36px 0;
    float: left;
    width: 960px;
    margin-top: 40px;
}

#footer-content{
    margin-left: 100px;
}

#footer-content ul{
    overflow: hidden;
}

#footer-content ul li{
    list-style-type: none;
    float: left;
    padding: 0 7px;
    border-left: 1px solid #5d5d5d;
    line-height: 1;
}

#footer-content ul li:first-child{
    padding-left:0;
    border: none;
}

#footer-content a{
    color: #5d5d5d;
    font-weight: normal;
    text-transform: capitalize;
}

#footer-content a:hover{
    text-decoration: underline;
}

#footer-content p{
    margin: 5px 0 0 0;
    margin-left: 40px;
}

.clear{
    clear: both;
}